body {
	width: 100%;
	margin: auto;
	background: lightgray;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	background: white;
	width: 100%;
	top: 0;
	position: fixed;
}

.logo {
	float: left;
	font-family: "helvetica";
	font-size: 15px;
	background: #41aaa5;
	padding: 15px;


}

a {
	 text-decoration: none;
	 color: lightgray;
}

li {
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 15px;
	padding-right: 15px;


}

.nav {
	float: right;
}

.content {
	padding-top: 10px;
	margin-top: 200px;
	background-color: #fff;
	border: 2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 500px;
	color: #000000;


}

.profile {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: none;
	padding: 5px;

}

/*-- Contact Form --*/

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/*-- Contact Box -*/

.contact_me {
	text-align: center;
	margin-left: 5px
}

.contactbox {
	float: right;
	width: 200px;
	height: 200px;
	background: white;
}

.ig {
	float: right;
}

.git {
	float: right;
}

.link {
	float: right;
}

/*-Portfolio-*/

/*-footer-*/

.footer {
	width: 100%;
	background: gray;
	padding: 40px 0px;
	text-align: center;
	color: white

}