/*-header and contact-*/

.wrapper {

    margin: auto;
    background-color: white;
    border-bottom: solid 1px #cccccc;
}

.myname {
    float: left;
}

.header_container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    margin-top: 50px;
    float: right;
    margin-right: 45px;
    text-decoration: none;
}


.contact_bars {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 1px solid #dddddd;
    color: #4aaaa5;
    background-color: #ffffff;
    padding: 0 10px 10px 10px;
    width: 250px;
    float: right;
    text-align: center;
    margin-top: 90px;
}

/*- over-arching body details-*/

body {
    position: relative;
    font-size: 18px;
    color: #333;
    background-image: url("../images/bg.jpg");
    margin: 0;
}

a {
	text-decoration: none;
	columns: gray;
}


p {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
}


h1 {

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 30px;
    padding: 20px;
    margin: 0;
    background: #4aaaa5;
    text-align: center;
    border: solid 1px #cccccc;
    position: relative;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

h3 {

    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}


h4 {

    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-weight: lighter;
    width: 275px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4aaaa5;
    margin-bottom: 30px;
}

hr {
    border: solid 1px #cccccc;
}

/*-Index-*/

.profile {
    float: left;
    margin: 10px;
}


.content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 20px;
    width: 610px;
    float: left;
    margin-top: 20px;
    margin-bottom: 200px;
    border: solid 1px #dddddd
}

/*-Portfolioy-*/

.row1,
.row2,
.row3 {
    margin-right: 10px;
    float: left;
    padding: 10px;
}


.row3 {
    margin-top: -15px;
}


.image1,.image2,.image3,.image4,.image5,.image6 {

    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*-contact-*/

#name,
#mail {
    width: 590px;
    height: 30px;
}

textarea {
    width: 590px;
    height: 300px;
}



button {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    width: 125px;
    height: 50px;
    border: none;
    background-color: #4aaaa5;
}

/*- Footer -*/

.footer {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    border-top-style: solid;
    border-top-width: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #666666;
    color: white;
    clear: both;
    text-align: center;
    width: 100%;
}

